<span id="monocle-status" style="float: right; border: 1px solid black; height: 20px; width:120px; line-height: 20px; text-align: center;">Pending</span>
<h1>Monocle</h1>
<script type="text/javascript">
    var config = {
        contextPath: '/'
    };
    var channel = '<%= current_account.id.to_s %>';
</script>
<script type="text/javascript" src="/javascripts/monocle.js"></script>

<div id="messages">

</div>
