$site-background: #FCFCFC;

$light-black: #444444;
$light-gray: #6C7980;
$light-blue: #1980D7;
$light-blue-gray: #F1F6F9;
$medium-blue-gray: #CED7DE;
$medium-gray: #888888;
$white: #FFFFFF;

$red: #d31d1d;
$orange: #ffa800;
$green: #65d20c;
$blue: #3d63ed;
