div.block {
    display: block;
    margin-bottom: 10px;
}

div.trailhead {
    display: inline-block;
    height: 40px;
    border: 1px solid black;
    margin-right: 10px;
    overflow: hidden;
}

div.trailhead span {
    line-height: 40px;
    font-size: 18px;
    padding-left: 6px;
    padding-right: 6px;
}

div.trail {
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

div.tooltip {
    display: none;
    border: 2px solid black;
    padding: 6px;
    background-color: #F1F6F9;
    overflow: hidden;
}
