<div class="full">
  <h2>About</h2>

  <div>
    SideSpin gives you high-class, low-level insights about your users.
  </div>
  <div>
    Created by a former AdMob / Google engineer, SideSpin was created to simplify user analytics.
  </div>
  <div>
    Data -> Metrics -> Trends -> Insights
  </div>
</div>
