<div class="full">
  <h2>About</h2>

  <div>
    Monocle gives you high-class, low-level insights about your users.
  </div>
  <div>
    Created by a former AdMob / Google engineer, Monocle was create to simplify user analytics.
  </div>
  <div>
    Data -> Metrics -> Trends -> Insights
  </div>
</div>
