<div class="main">
  <div class="intro">
    <div class="block">
        <div class="home-intro">
            <div class="home-leader">
              SideSpin premium analytics<br>
              <strong>Turn Data Into Insights</strong>
            </div>
            <div class="home-detail">
              <ul>
                <li>View customer behavior in real-time</li>
                <li>Instrument your site with custom events</li>
                <li>In-depth query language for cohort reporting</li>
              </ul>
            </div>
            <div class="home-cta">
              <a href="<%= new_account_registration_path %>">Sign up now!</a>
            </div>
        </div>
        <div class="home-graphic">
            <img class="graphic" src="/images/home-screenshot.jpg">
        </div>
    </div>
  </div>
  <div class="more">
    <h2>SideSpin does that!</h2>
    <div class="blocks">
        <div class="block">
            <h3>Incentivize User-Contributed Value</h3>
            <div class="pic-frame">
                <img class="pic" src="/images/home-img-1.jpg" />
            </div>
            <div class="description">
                Integer pretium cursus sollicitudin. Integer euismod tincidunt sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed in elementum turpis.
            </div>
        </div>
        <div class="block">
            <h3>Integrate User-Centered Tagclouds</h3>
            <div class="pic-frame">
              <img class="pic" src="/images/home-img-2.jpg" />
            </div>
            <div class="description">
                Morbi enim ipsum, dapibus sed fringilla eget, consequat ac augue. Curabitur aliquet ultricies pharetra. Duis ut dui ut justo interdum molestie in eget sem. Sed neque augue, consequat in molestie et, facilisis pellentesque lectus.
            </div>
        </div>
        <div class="block last">
            <h3>Disintermediate Rss-Capable Platforms</h3>
            <div class="pic-frame">
                <img class="pic" src="/images/home-img-3.jpg" />
            </div>
            <div class="description">
                Vivamus ut ipsum ut diam vulputate commodo. Cras elementum feugiat tortor, non convallis metus rhoncus sit amet. Morbi varius est ut massa varius iaculis dictum elit scelerisque.
            </div>
        </div>
     </div>
  </div>
</div>
