<div class="full">
  <h2>Terms</h2>

  <div>
    All use of the site is subject to these terms of service. If you do not agree, please leave.
    <ul>
      <li>You, and anyone on your behalf, will never engage in legal action against SideSpin.</li>
    </ul>
  </div>
</div>
