<div class="main">
  <h3>Account</h3>

  <div>
    Include this JavaScript inside the &lt;head/&gt; element on any pages you wish to track.<br />
    <textarea rows="17" style="font-family: monospace; border:  1px solid black; padding:  8px; width: 700px;"><%= render :partial => "home/ma_inc", :locals => {:accountId => current_account.id} %></textarea>
  </div>
</div>
